<div class="row left-panel">
  <div class="col-md-9">
    <ng-template #emptyblog>
      <div class="spinner-container">
        <mat-spinner></mat-spinner>
      </div>
    </ng-template>
    <ng-container>
      <div>
        <mat-card>
          <mat-card-content>
              <h2>About us</h2>
          </mat-card-content>
          <mat-card-content>
            <div>Who we are?
              We are here to help out the cyberbully victims to share their stories and get advice from experts to
              overcome their situation. This idea was initiated because of censorious situation which is increase in
              number of cyberbully victims in Malaysia and globally. Due to cyberbully, there are many suicidal
              cases and depression where the victims does not have a platform to share their stories in order to get
              help to cope with cyberbully from the experts such as counsellor and psychiatrist.
              Users/ Victims can seek help from our professional counselors to help them in order to overcome
              their problems of being the victim of cyberbullying.</div>
            </mat-card-content>
              
              <div></div>
            <mat-card-content>
              <div>Our counselors are trained and qualified to be
              able to give them some useful tips in order to overcome victims problems.
              Besides, the user can also share their experience of being cyberbullied and how they managed to
              overcome the situation for the other users to take example from.
              Anyone who fill they are qualified to give comments or advises to the victims, you can email me your
              details to mugineshk@gmail.com </div>
            </mat-card-content>

              <mat-card-content>


                <div>Together we help the needed to survive in this cyber world ! </div>
          </mat-card-content>
  
        </mat-card>
      </div>
    </ng-container>
  </div>
</div>