<ng-template #emptyblog>
  <div class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
<ng-container *ngIf="postPost && postPost.length>0; else emptypost">
  <div *ngFor="let post of postPost | paginate: config">
    <mat-card class="post-card mat-elevation-z2">
      <mat-card-content>
        <a class="post-title" [routerLink]="['/post/', post.postId, post.title | slug]">
          <h2>{{ post.title}} </h2>
        </a>
      </mat-card-content>
      <mat-card-content>
        <div [innerHTML]="post.content | slug"></div>
      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-actions>
        <ng-container *ngIf="appUser && appUser.email == 'counsellorutp@gmail.com'" >
          <button mat-raised-button color="warn" (click)="delete(post.postId)">Delete</button>
        </ng-container>
        <span class="spacer"></span>
        <button mat-raised-button color="primary" [routerLink]="['/post/', post.postId, post.title | slug]">Read
          More</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <mat-divider></mat-divider>
  <app-paginator [pageSizeOptions]="pageSizeOptions" [config]="config"></app-paginator>
</ng-container>