.post-card {
  margin-bottom: 15px;
}

.post-title {
  text-decoration: none;
}

a:hover {
  color: indianred;
}
.spinner-container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}