<mat-card class="rightpanel-card mat-elevation-z2">
    <mat-card-content>
        <h4 class="rightdivtext">
            Counselling Support
        </h4>
    </mat-card-content>
    <mat-card-content>
        <div class="authorimagecontainer">
            <img class="authorimage" mat-card-avatar
                src="../../../assets/images/1.jpg">
            <h5>Jean Nee</h5>
        </div>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-content>
        <h6 class="rightdivtext">
            Contact me
        </h6>
    </mat-card-content>
    <mat-card-content>
        <a href="mailto:lapsap@gmail.com" target="_blank"><i class="fa fa-envelope-square"
                aria-hidden="true"></i></a>
        <a href="https://wa.me/15551234567" target="_blank"><i class="fa fa-whatsapp"
                aria-hidden="true"></i></a>
    </mat-card-content>
</mat-card>

<mat-card class="rightpanel-card mat-elevation-z2">
    <mat-card-content>
        <h4 class="rightdivtext">
            Counselling Support
        </h4>
    </mat-card-content>
    <mat-card-content>
        <div class="authorimagecontainer">
            <img class="authorimage" mat-card-avatar
                src="../../../assets/images/2.jpg">
            <h5>Jasmin Hassan</h5>
        </div>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-content>
        <h6 class="rightdivtext">
            Contact Me
        </h6>
    </mat-card-content>
    <mat-card-content>
        <a href="mailto:lapsap@gmail.com" target="_blank"><i class="fa fa-envelope-square"
                aria-hidden="true"></i></a>
        <a href="https://wa.me/15551234567" target="_blank"><i class="fa fa-whatsapp"
                aria-hidden="true"></i></a>
    </mat-card-content>
</mat-card>

<mat-card class="rightpanel-card mat-elevation-z2">
    <mat-card-content>
        <h4 class="rightdivtext">
            Counselling Support
        </h4>
    </mat-card-content>
    <mat-card-content>
        <div class="authorimagecontainer">
            <img class="authorimage" mat-card-avatar
                src="../../../assets/images/3.jpg">
            <h5>Hariyani Harun</h5>
        </div>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-content>
        <h6 class="rightdivtext">
            Contact Me
        </h6>
    </mat-card-content>
    <mat-card-content>
        <a href="mailto:lapsap@gmail.com" target="_blank"><i class="fa fa-envelope-square"
                aria-hidden="true"></i></a>
        <a href="https://wa.me/15551234567" target="_blank"><i class="fa fa-whatsapp"
                aria-hidden="true"></i></a>
    </mat-card-content>
</mat-card>

<mat-card class="rightpanel-card mat-elevation-z2">
    <mat-card-content>
        <h4 class="rightdivtext">
            Counselling Support
        </h4>
    </mat-card-content>
    <mat-card-content>
        <div class="authorimagecontainer">
            <img class="authorimage" mat-card-avatar
                src="../../../assets/images/4.png">
            <h5>Daniel Ong</h5>
        </div>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-content>
        <h6 class="rightdivtext">
            Contact Me
        </h6>
    </mat-card-content>
    <mat-card-content>
        <a href="mailto:lapsap@gmail.com" target="_blank"><i class="fa fa-envelope-square"
                aria-hidden="true"></i></a>
        <a href="https://wa.me/15551234567" target="_blank"><i class="fa fa-whatsapp"
                aria-hidden="true"></i></a>
    </mat-card-content>
</mat-card>

